// 主色
$color-green:#E8F5E9;
$color-primary: #50bfff;
$color-primary-dark: #0c64eb;
//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$sideBarWidth: 180px;

// 辅助色
$color-assist: #2C79B4;

//提示色
$color-info: #4990E2;
$color-success: #00B718;
$color-warning: #F6A623;
$color-danger: #D7000F;
$color-disable: #CCCCCC;
$color-purple: #74759b;

// 背景色
$color-bg: #efefef;
$color-spec-freeze: #F6FBFF;
$color-spec-danger: #FFEDEE;
$color-white: #FFFFFF;
$color-light-blue: #E5F0FC;
$color-red:#D63636;

//边框色
$color-border: #DCDCDC;
$color-input-border: #E8E8E8;
$color-photo-border: #D3D3D3;

// 文字色
$color-text-primary: #333333;
$color-text-secondary: #999999;
$color-text-placeholder: #C3C5CC;
$color-text-gray: #979797;
$color-text-option: #5D6795;
$color-text-orange: #EB9609;
$color-text-blance: #4A4A4A;
$color-text-myBlue:#ADC6D9;
$color-text-myRed:#f0576e;
// 文字大小
$text-size-xxl : 22px;
$text-size-xl: 16px;
$text-size-l: 14px;
$text-size-m: 12px;
$text-size-s: 10px;

// Tags
$tag-color-yellow: #F5A623;
$tag-color-blue: #36AEEC;
$tag-color-deep-purple: #6371EF;
$tag-color-green: #33C85E;
$tag-color-orange: #E8704B;
$tag-color-purple: #B783E3;

//tab
$tab-color-orange: #EE7F12;
// Coupons
$coupon-color-blue: #1E7CBC;
$coupon-color-cyan: #11AE99;
$coupon-color-green: #9EB950;
$coupon-color-yellow: #F39E05;

//danger
$color-danger-red:#D7000F;

//font-family
$source-han-sans-medium: "Source Han Sans CN Medium";
$source-han-sans-normal: "Source Han Sans CN Normal";
$source-han-sans-bold: "Source Han Sans CN Bold";
$source-han-sans-regular: "Source Han Sans CN Regular";
$source-han-sans-font:SourceHanSansCN-Regular;


$btn-color-submit:#EE7F12;
$btn-mouseover-color-submit:#ee9046;
$btn-color-orange:#E48646;
//认证和关联
$submit:#EE7F12;
$confirm: #417505;
$refuse: #D7000F;

$gray:#E0E0E0;
$blue:#DDEEF9;
$grayA:#8E8E8E;
$blueA:#105C98;
$grayB:#F5F5F5;
$gtayC:#E5E5E5;
$black:#4E4E4E;
$gray-border:#C9D7E6;
$grayD:#776767;
$grayE:#A5A5A5;
$grayG:#9D9D9D;
$grayH:#F1F1F1;
$orangeA:#FFEDD9;
$orangeB:#F1C4AE;
$orangeC:#D8722C;
$orangeD:#FE8C1C;

$dark-blue:#00508E;
$light-gray:#8C8C8C;
$grayF:#F8F8F7;
$blue-backcolor:#EEF4FC;

